/* All common CSS start */
*{
    margin: 0;
    padding: 0;
    outline:0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
a,a:hover{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
/* All common CSS end */

/* Header part start */
.navbar{
    background: #FAE3B6;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}
/* Header part end */